.header_main
{
    width : 100%;
    position: fixed;
    top : 0;
    left : 0;
    background-color: var(--body-background);
}
.header_main_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 25px 20px;
}
.header_logo
{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.040rem;
    font-family: var(--dancing-text);
}
.header_logo a
{
    color : var(--text-highlight);
}
.header_auth_container
{
    display: flex;
    align-items: center;
}
.header_username
{
    padding-right: 20px;
    font-family: var(--inter-text);
    font-size: .980rem;
    font-weight: 400;
    color : var(--fourth-text-white);
    letter-spacing: 0.040rem;
}
.header_logout_icon
{
    font-size: 1.5rem !important;
    color : var(--fourth-text-white) !important;
    transition: 0.4s all ease-in-out !important;
}
.header_logout_icon:hover
{
    cursor: pointer;
    color : var(--text-highlight) !important;
}

@media(max-width:780px)
{
    .header_main_container{
        padding : 20px 1px;
    }
}
