:root {

    /* color */
    --body-background : #11161a;
    --dark-two : #232629;
    --dark-three : #2e3031;
    --text-highlight : #64ffda;
    --text-highlight-medium : #c1e7de;
    --first-text-white : #fff;
    --second-text-white : #FFFFFF;
    --third-text-white : #9A9AA6;
    --fourth-text-white : #B2B6B9;
    --fifth-text-white : #c1c6c9;
    --sixth-text-white : #424242;
    --error-alert-text : #ff7b72;
    --error-alert-bg : rgba(248,81,73,0.1);
    --error-alert-border : rgba(248,81,73,0.4);
    --success-alert-text : #56d364;
    --success-alert-bg : rgba(46,160,67,0.1);
    --success-alter-border : rgba(46,160,67,0.4);

    /* fonts */
    --inter-text : 'Inter', sans-serif;
    --dancing-text : 'Dancing Script', cursive;
}

::-webkit-scrollbar 
{
    width: 5px;
    border-radius: 0px;
    background-color: var(--body-background);
}
::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 20px;
    border-radius: 15px;
    background: rgb(78, 78, 78); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.body_main
{
    width: 100%;
    min-height: 100vh;
    padding : 20px 0px;
}
.body_bg
{
    background-color: var(--body-background);
}
@media(max-width:780px)
{
    .body_main{
        padding : 20px 0px;
    }
}

.anchor_tag a
{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
